* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/fon.jpg);
    background-attachment: fixed;
    width: 1024px;
    margin: 0 auto;
}

header {
    color: blue;
    display: flex;
    align-items: center;
    position: fixed;
    width: 1024px;
    background-color: rgba(136, 171, 255, 0.603);
    border-bottom: 4px solid rgba(42, 55, 233, 0.76);
}

header p {
    font-size: 45px;
}

header nav {
    list-style: none;
    display: flex;
    position: absolute;
    right: 5px;
}

header nav li {
    margin-right: 15px;
    font-size: 20px;
}

a {
    padding: 0px 0px 10px 0px;
    text-decoration: none;
    color: blue;
}

a:hover {
    border-bottom: 4px solid rgba(42, 55, 233, 0.76);
}

.mainme h1 {
    text-align: center;
    padding: 90px 0px 30px 0px;
    text-transform: uppercase;
    color: rgb(5, 18, 56);
    font-size: 45px;
    background-color: rgba(86, 131, 255, 0.788);
}

.mainme {
    padding-bottom: 30px;
}

.os {
    display: flex;
}

.foto {
    margin: 20px;
}

.Aboutme {
    margin-left: 60px;
    font-size: 30px;
    padding-top: 150px;
    color: rgb(5, 18, 56);
    text-align: center;
}

.contact {
    background-color: rgba(211, 92, 171, 0.753);;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
}

.contact_text {
    padding-bottom: 30px;
    
}

.contact_text li {
    list-style: none;
    font-size: 30px;
    color: rgb(5, 18, 56);
    text-align: left;
    padding: 0 0 15px 60px;
}
.contact_foto img {
    width: 270px;
    margin: 30px 0 20px 0;
}

.target {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    background-color: rgba(129, 209, 97, 0.753);
    color: rgb(5, 18, 56);

}

.targen_foto img {
    height: 300px;
    margin: 30px 0 20px 100px;
}

.target_text {
    font-size: 50px;
    text-align: center;
    margin: 30px;
}
.target_text p1 {
    margin-bottom: 30px;
    font-size: 30px;
}
.target_text img {
    height: 45px;
    text-align: left;
    margin-top: 15px;
}

.exp {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    background-color: rgba(228, 233, 171, 0.849);
    color: rgb(5, 18, 56);
}

.exp_text p {
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

h2 {
    margin: 30px 0 30px 0;
    font-size: 50px;
    text-align: center;
}
.exp img {
    height: 280px;
    margin: 40px 0 0 0;
}

.eng {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    background-color: rgba(255, 106, 106, 0.788);
    color: rgb(5, 18, 56);
}

.eng_text {
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

.eng img {
    margin: 40px 0 30px 60px;
    height: 250px;
}

.footer {
    padding: 15px 0;
    text-align: center;
    background-color: rgba(9, 0, 138, 0.932);
    color: snow;
}